python-dotenv
pydantic
pydantic-settings
beautifulsoup4
aiohttp
tqdm
torch
sentence-transformers
transformers
pandas
numpy
nltk
wordcloud
matplotlib
scikit-learn
uvicorn[standard]
mlflow
bertopic
fastapi
arxiv