python-dotenv==1.0.1
pydantic==2.10
pydantic-settings
beautifulsoup4>=4.12.2
nltk>=3.8.1
aiohttp>=3.8.5
tqdm>=4.66.1
torch==2.2.0
sentence-transformers==2.2.2
transformers==4.30.2
mlflow==2.7.1
bertopic==0.13.0
pandas
numpy
nltk
wordcloud
matplotlib
scikit-learn
uvicorn[standard]
mlflow
bertopic
fastapi